<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
<link rel="stylesheet" href="/water/css/font.css">
<link rel="stylesheet" href="/water/css/xadmin.css">
<script type="text/javascript" src="/water/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="/water/js/xadmin.js"></script>
</head>

<body>
	<div class="layui-fluid">
		<div class="layui-row">
			<form class="layui-form" method="post">					   
			    <div class="layui-form-item">
					<label for="name" class="layui-form-label"> <span
						class="x-red">*</span>姓名</label>
					<div class="layui-input-inline">
						<input type="text" id="name" name="name" required=""
							lay-verify="name" autocomplete="off" class="layui-input">
					</div>
				</div>
				
				<div class="layui-form-item">
					<label for="sex" class="layui-form-label"> <span
						class="x-red">*</span>性别</label>
					<div class="layui-input-inline">
						<select id="sex" name="sex" class="valid">
							<option value="男">男</option>
							<option value="女">女</option>
						</select>
					</div>
				</div>		
							
			    <div class="layui-form-item">
					<label for="name" class="layui-form-label"> <span
						class="x-red">*</span>联系电话</label>
					<div class="layui-input-inline">
						<input type="text" id="tel" name="tel" required=""
							   lay-verify="required|phone|number" autocomplete="off" class="layui-input">
					</div>
				</div>
				
			    <div class="layui-form-item">
					<label for="name" class="layui-form-label"> <span
						class="x-red">*</span>楼栋号</label>
					<div class="layui-input-inline">

						<select name="flat" class="col-sm-4 form-control" id="flat" lay-verify="required">
							<option th:each="obj:${houses}" th:value="${obj.flat}"
									th:text="${obj.flat}"></option>
						</select>

						<!--<input type="text" id="flat" name="flat" required=""-->
							<!--lay-verify="flat" autocomplete="off" class="layui-input">-->


					</div>
				</div>

			    <div class="layui-form-item">
					<label for="name" class="layui-form-label"> <span
						class="x-red">*</span>单元号</label>
					<div class="layui-input-inline">
						<input type="text" id="danyuan" name="danyuan" required=""
							lay-verify="danyuan" autocomplete="off" class="layui-input">
					</div>
				</div>

			    <div class="layui-form-item">
					<label for="name" class="layui-form-label"> <span
						class="x-red">*</span>房间号</label>
					<div class="layui-input-inline">
						<input type="text" id="room" name="room" lay-verify="room"
							 autocomplete="off" class="layui-input">
					</div>
				</div>
											
				<div class="layui-form-item">
					<label for="L_repass" class="layui-form-label"></label>
					<button class="layui-btn" lay-filter="add" lay-submit="">提交</button>
				</div>
			</form>
		</div>
	</div>
	<script>
		layui.use([ 'form', 'layer' ], function() {
			$ = layui.jquery;
			var form = layui.form, layer = layui.layer;
			//自定义验证规则
			form.verify({
				name : function(value) {
					if (value.length == 0) {
						return '请输入姓名';
					}
				},
				flat : function(value) {
					if (value.length == 0) {
						return '请输入楼栋号';
					}
				},
				danyuan : function(value) {
					if (value.length == 0) {
						return '请输入单元号';
					}
				},
				room : function(value) {
					console.log("room:"+value)
					if (value.length == 0) {
						return '请输入房间号';
					}
				},
				tel : function(value) {
					if (value.length == 0) {
						return '请输入手机号';
					}

					if (!(/^1(3|4|5|7|8)\d{9}$/.test(value))) {
						return '手机号格式不正确';
					}

				}
			});

			//监听提交
			form.on('submit(add)', function(data) {
				console.log(JSON.stringify(data))
				$.ajax({
				      url:"/water/customer/add",
				      async: false,
				      type:"POST",
				      dataType: "text",
				      data:data.field,
						success: function(data){
							alert('添加成功了')
							xadmin.close();

						}

	                  
				  });

				return false;
			});

		});
	</script>
</body>

</html>